<% content_for :page_title, "Channels" %>

<div class="p-5">
  <h1 class="fw-bold">Channels</h1>
  <p class="subfw-bold">No channels yet. Create one to start collaborating.</p>
  <%= link_to "Create a channel", new_chat_room_path, class: "btn btn-primary" %>
</div>
